@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header{
    background-color: #18212D;
    padding: 180px 0 45px;
    &__content{
        color: #fff;
        display: flex;
        justify-content: space-between;
        margin-bottom: 80px;
    }
    &__title{
        width: 400px;
        font-weight: 700;
        font-size: 40px;
        line-height: 1.125;
        letter-spacing: 0.8px;
        text-transform: uppercase;
    }
    &__text{
        width: 360px;
        font-size: 14px;
        line-height: 1.57;
        text-transform: uppercase;
        margin-right: 140px;
    }
}

.contents{
    background-color: #F7F7F6;
    padding: 100px 0 35px;
    &__items{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 24px;
    }
    &__box{
        padding: 0 30px 25px;
    }
    &__item{
        width: 437px;
        margin-bottom: 25px;
        background-color: #fff;
    }
    &__img{
        margin: 0 auto 30px;
    }
    &__title{
        font-weight: 700;
        font-size: 24px;
        line-height: 1.25;
        margin-bottom: 10px;
    }
    &__text{
        margin-bottom: 25px;
    }
    &__btn{
        font-weight: 700;
        font-size: 12px;
        line-height: 2;
        border: 1px solid #E5E5E5;
        display: inline-block;
        padding: 0 18px;
        margin-bottom: 15px;
    }
    &__podcast{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
    }
    &__podcast-text{
        font-weight: 700;
        font-size: 20px;
        line-height: 1;
        color: #18212D;
    }
}


@import 'media';